.button-cross{
    -fx-background-image: url("../images/others/crossicon.png");
    -fx-background-size: 100% 100%;
}
.button-tick{
    -fx-background-image: url("../images/others/finish_round.png");
    -fx-background-size: 100% 100%;
}
.bin{
    -fx-background-image: url("../images/others/bin.png");
    -fx-background-size: 100% 100%;
}