.shield{
    -fx-background-image: url("../images/resources/shield_c.png");
    -fx-background-size: 100% 100%;
}
.stone{
    -fx-background-image: url("../images/resources/stone_c.png");
    -fx-background-size: 100% 100%;
}
.coin{
    -fx-background-image: url("../images/resources/coin_c.png");
    -fx-background-size: 100% 100%;
}
.servant{
    -fx-background-image: url("../images/resources/servant_c.png");
    -fx-background-size: 100% 100%;
}
.faith{
    -fx-background-image: url("../images/resources/faith_c.png");
    -fx-background-size: 100% 100%;
}
.shield:hover
{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}
.stone:hover
{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}
.coin:hover
{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}
.servant:hover
{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}


.shield-no-hoover{
    -fx-background-image: url("../images/resources/shield_c.png");
    -fx-background-size: 100% 100%;
}
.stone-no-hoover{
    -fx-background-image: url("../images/resources/stone_c.png");
    -fx-background-size: 100% 100%;
}
.coin-no-hoover{
    -fx-background-image: url("../images/resources/coin_c.png");
    -fx-background-size: 100% 100%;
}
.servant-no-hoover{
    -fx-background-image: url("../images/resources/servant_c.png");
    -fx-background-size: 100% 100%;
}